[Unit]
Description=Agent service daemon used to control the agent

[Service]
ExecStart=/usr/bin/python3 -u /agentServiceDaemon/agentServiceDaemon.py
ExecStop=/usr/bin/python3 -u /agentServiceDaemon/turnOffDaemon.py
WorkingDirectory=/agentServiceDaemon/

[Install]
WantedBy=multi-user.target
